body{
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding: 0%;
    width: 100%;
    height:100%;
    
}

#ensemble{
    margin-right: 10%;
    margin-left: auto;
    height:100%;
    width: 77.9%;
    margin-top: 0;
    display: flex;
 
}

#colgauche{
    padding: 2%;
    height: 100%;
    width:min-content;
    background-color: rgb(195, 250, 243);
    display: inline-block;
    margin: 0;


}
#pp{
    width: 50%;
    height: 25%px;
    margin-left: 25%;
    border: solid #000000;
    
    
}
#coldroit{
    margin: 0;
    background-color: rgb(228, 231, 231);
    height: 100%;
    width: fit-content;
    display: inline-block;
    padding: 2%;

    text-align: justify;
}
.infocontact{
    display: flex;
}

.icone{
    width: 20%;
    height: 20%;
}
.icone2{
    width: 60%;
    height: 60%;
}
h2,h3,p{
    margin-left: 15px; 
    margin-bottom: 2%;
    
}
h1{
    margin: 0;
    padding: 0;
    padding-left: 2%;
}
table{
    margin: 0%;
    padding: 0%;
}

